<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get All Database</title>
</head>

<body>
    <h1>Mencoba mengambil semua data di DB</h1>
    <p id="db">

    </p>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/readDB.js"></script>
</body>

</html>